$form-floating-label-transform: scale(.85) translateY(-1.8rem) translateX(.3rem);
$secondary:#A5A5A5;
$light:white;
$primary: #3bcac9;
$input-focus-border-color: $primary;
$input-border-color: $secondary;
$input-placeholder-color: $secondary;
$input-color:black;
$form-label-color:$secondary;
$form-floating-label-opacity: 1;
$box-shadow:none ;
$input-disabled-bg:white;
$danger:red;
// $enable-shadows:cdf;


@import "./theme"; 
